.header{
   padding: 10px;
   box-shadow: inset 0 0 0 1000px #0000000a;
}

.logo-image{
   width: 100px;
   height: 100px;
}
.logo-container{
   display: flex;
   justify-content: space-between;
}

.nav-items > ul{
   font-size: 24px;
   display: flex;
}

.nav-items > ul > li{
   padding: 10px;
   margin: 10px;
   list-style: none;
}

.res-search{
   padding: 20px;
}

.res-container{
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.res-card{
   /* box-shadow: inset 0 0 0 1000px #0000000a; */
   padding: 10px;
   margin: 10px;
   width: 250px;
}

.res-card:hover{
   box-shadow: inset 0 0 0 1000px #0000000a;
   padding: 10px;
   margin: 10px;
   width: 250px;
   cursor: pointer;
   border-radius: 10px;
}

.res-logo-image{
   width: 200px;
   height: 200px;
   padding: 10px;
   margin: 10px;
}

.res-name{
   font-weight: 400;
   font-size: 24px;
   padding-left: 60px;
   /* padding: 10px;
   margin: 10px; */
}

.res-rating{
   font-weight: 400;
   padding-left: 60px;
   /* font-size: 24px;
   padding: 10px;
   margin: 10px; */
}
.res-cuisine, .res-delivery, .res-deliveryTime{
   padding-left: 60px;  
}

